<div class="mt-sm container text-center">
  <div class="fa-4x mb">
    <%= fa_icon('question-circle-o') %>
  </div>
  <p class="mb">Вопросов пока нет</p>
  <p>но Ваш может <%= link_to 'стать первым', new_question_path(nickname: @user.nickname) %></p>
</div>
